<div id="map"></div>


<div class="main shops-index">
  <p>検索地点: <%= params[:search] %></p>
  <p>ヒット件数: <%= @shops.present? ? @shops.length : 0 %></p>
  <% if @shops.present? %>
    <div class="container">

        <% @shops.each do |shop| %>
          <div class="shops-index-item">
    	      <div class="shop-name">
    	        <%= link_to(shop["name"], shop["url"], target: "_blank") %>
    	      </div>

            <div class="shop-dist">
              検索地点からの距離:
              <% if shop["longitude"].present? && shop["latitude"].present?%>
                <%=  "#{(shop["dist_from_search_point"]*1000).round(0)} m" %>
              <% else %>
                ?
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>