
<!--
<div id="map"></div>
<div class="main shops-index">
  <div class="container">



    <% @shops.each do |shop| %>
      <div class="shops-index-item">
	      <div class="shop-name">
	      	
	        <%= link_to("店名#{shop.shop_id}", "https://www.gnavi.co.jp/", target: "_blank") %>
	      </div>
      </div>
    <% end %>
  </div>
</div>


  <input type="text" id="key" placeholder="アクセスキーを入力"><input type="button" id="submit" value="送信">
  <table id="table" border="1">
    <tr><th>店舗名</th><th>アクセス</th></tr>
  </table>

-->
